body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

.navBar {
  background-color: #142850;
  color: whitesmoke;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.navBar h1 {
  margin-left: 20px;
}

.navList {
  align-self: center;
  margin-right: 20px;
}

.navList li {
  display: inline;
  color: whitesmoke;
  list-style: none;
  margin-right: 10px;
}

.navList li a {
  text-decoration: none;
  color: whitesmoke;
}

.mainBody {
  background-color: #0c7b93;
}

#headerPic {
  /* margin: 10px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: white;
}

.mainBody h2, p, table, ul, iframe {
  margin-left: 10px;
}